@import "../MainLayout.module.scss";

.MainLayoutDesc {
  display: flex;
  width: 30%;
  max-width: 300px;
  &__nav {
    width: 100%;
    z-index: 1;
    @include navlink;
  }

  // media-queries
  @media (max-width: 450px) {
    display: none;
  }
}
