@mixin btnlink {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  transition: 0.3s;
  cursor: pointer;
}

@mixin navlink {
  background-color: rgb(248, 204, 7);
  display: flex;
  flex-direction: column;
  position: relative;
  a {
    @include btnlink;
    border-bottom: 1px solid white;
    &:hover {
      background-color: rgb(245, 230, 146);
    }
  }
  a[aria-current="page"] {
    background-color: rgb(139, 127, 10);
    text-decoration: underline;
  }
}

.MainLayout {
  flex-grow: 1;
  background: linear-gradient(to top, rgb(212, 248, 6), rgb(253, 246, 180));
  flex-grow: 1;
  display: flex;
  &__navbar {
    &_menublock {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      .menuicon {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 10px;
        background-color: rgba(146, 151, 66, 0.5);
        border-radius: 50%;
        transition: 0.3s;
        &:active {
          opacity: 0.4;
        }
        svg {
          fill: white;
          width: 100%;
        }
      }
    }

    &_backBtn {
      margin-top: 10px;
      margin-left: 20px;
      height: 50px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      background-color: rgba(146, 151, 66, 0.5);
      border-radius: 20px;
      transition: 0.3s;
      color: white;
      text-decoration: none;
      font-size: 18px;
      z-index: 1;
      &:active {
        opacity: 0.4;
      }
    }
    &_nav {
      @include navlink;
      transition: 0.4s;
      margin-left: -100%;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 2;
      svg {
        align-self: flex-end;
        margin: 5px;
        fill: white;
      }
      .chartslinkblock {
        @include navlink;
      }
      .chartsStatusBtn {
        @include btnlink;
        height: 62px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(241, 8, 8);
        &:hover,
        &:active {
          background-color: rgba(241, 8, 8);
          opacity: 0.5;
        }
        &[data-isgettinggharts="false"] {
          background-color: rgb(8, 109, 241);
        }
        &__spinnerWrap {
          display: inline-block;
          position: relative;
          top: -5px;
        }
      }
    }
  }
  &__content {
    padding: 60px 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  // media-queries
  @media (min-width: 450px) {
    &__navbar {
      width: 30%;
      max-width: 300px;
      &_menublock {
        display: none;
      }
      &_nav {
        width: 30%;
        max-width: 300px;
        margin-left: 0 !important;
      }
      .closeicon {
        display: none;
      }
    }
    &__content {
      width: 70%;
      padding: 0 20px;
    }
  }
}
