@import "../MainLayout.module.scss";

.AddChartLink {
  @include btnlink;
  height: 62px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 136, 97);
  &:hover,
  &:active {
    opacity: 0.5;
  }
}
